.title {
  color: blue;
  font-size: 40px;
}

.h3 {
  color: blue;
  font-size: 50px;
}

.background {
  color: light blue;
  opacity: 80;
}

.h2 {
  color: yellow;
  font-size: 60px;
}

.p {
  color: yellow;
  font-size: 70px;
}
.a { 
  color: red;
  font-size: 90px;
}
